<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/PavaniPamarthy">Pavani</a> under the guidance of<a target="_blank" href="http://github.com/KenMazaika"> Ken</a>, in the process of learning how to code. Splurty was originally developed by Ken and <a target="_blank" href="http://github.com/MarcoMorawec">Marco.</a>
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'pavani.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Pavani Pamarthy</h2>
      <br />
      <p>
       Pavani Pamarthy worked previously with IBM and Verizon as a Support Engineer and is currently pursuing Web Development.
      </p>
    </div>
  </div>
  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />